:root {
    --colour-body: rgb(7, 7, 7);
    --colour-bg:  url(../backgroundimg.jpg);
    --colour_vs_bg: url(../VS_background.png);
    --colour--nav: rgb(241, 215, 158);
    --colour-nav-a: rgb(8, 8, 8);
    --colour-footer: rgb(231, 72, 72);
    --colour-boarder: rgb(153, 137, 129);
    --colour-button: rgb(241, 215, 158);
    --colour-background_image: linear-gradient(to bottom, rgb(124, 122, 119), rgba(0, 0, 0, 0.87));
    --colour-linked: rgb(2, 70, 148);
    
}
@view-transition {
    navigation: auto;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: var(--colour-body);
    line-height: 1.6;

}
.home_page{
    background-image: url(../page_1.png);
}
.about_page{
    background-image:url(../page_3.png);
}
.project_page{
    background-image: url(../page_5.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    background-attachment: scroll;
}
.blog_page{
    background-image: url(../projects_bg.png);
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.button{ 
    background-color: var(--colour-button);
    color: rgb(3, 3, 3);
    padding: 1rem;
    font-size: 14px;
}

nav {
    background: var(--colour--nav);
    padding: 1rem;
    background: linear-gradient(to right, var(--colour--nav) 50%, transparent 100%);
}

nav a {
    color: var(--colour-nav-a);
    text-decoration: none;
    margin-right: 1.5rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.linked{
    color: var(--colour-linked);
}

.welcome{
    color: #000;
    background-color: var(--colour--nav);
    background-position: left;
    font-size: 70px;
    margin: 0;
    background: linear-gradient(to right, var(--colour--nav) 40%, transparent 100%);
}

p {
    text-align: left;
    padding-left: 1rem;
}

.page_content{
    max-width: 700px;
    width: fit-content;
    padding-left: 1cm;
}

.page_content_about_me{
    margin-left: 5cm;
    max-width: 700px;
    width: fit-content;

}

.git_prof{
    float: right;
    width: 35px;
}

.linkedin_prof{
    padding-right: 0.5rem;
    float: right;
    width: 35px;
}

.about-photo {
    float:right;
    width: 200px;
    padding-top: 1rem;
    padding-right: 0rem;
    margin: 0 1.5rem 1rem 0;
    border-radius: 2px;
}

main {
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    padding: 1rem;
    color: var(--colour-footer);
    font-size: 0.9rem;
}