:root {
    --colour-body: #BFBFBF;
    --colour-bg:  url(../backgroundimg.jpg);
    --colour--nav: #161B40;
    --colour-nav-a: rgb(255, 255, 255);
    --colour-footer: rgb(120, 120, 120);
    --colour-boarder:#212121;
    
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--colour-body);
    line-height: 1.6;
    background-image: var(--colour-bg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav {
    background: var(--colour--nav);
    padding: 1rem;
}

nav a {
    color: var(--colour-body);
    text-decoration: none;
    margin-right: 1.5rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.welcome{
    font-size: 3.3rem;
}

p {
    text-align: justify;
}

.page_content{
    max-width: 700px;
    width: fit-content;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--colour-boarder);
    border-radius: 2px;
}

.git_prof{
    float: right;
    width: 35px;
}

.linkedin_prof{
    padding-right: 0.5rem;
    float: right;
    width: 35px;
}

.about-photo {
    float: right;
    width: 200px;
    padding-top: 3rem;
    padding-left: 1rem;
    margin: 0 1.5rem 1rem 0;
    border-radius: 2px;
}


main {
    margin-left: auto;
    margin-right: auto;

}

footer {
    text-align: center;
    padding: 1rem;
    color: var(--colour-footer);
    font-size: 0.9rem;
}