{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class ='about_page'>
    <h1 class = 'welcome' > About me </h1>
    <br>
    <br>

    
    <p class = 'page_content_about_me'>A small summary about Aveeraj Singh Chahal
    <img src = "static/headshot_self.png" alt="Aveeraj Chahal" class="about-photo">
    <br>
    Hello, my name is Aveeraj, but a lot of people call me Avee as it's easier to pronounce. This page is dedicated to my hobbies as well as the things I find interesting.
    <br>
    After graduating from the University of Huddersfield with a First Class in Cyber Security, I found myself wanting to develop my skills through different projects that I find interesting. 
    Some of the more complex projects I've programmed include:
        <br>
        <br>
    - A camera detection program that tracks the user's hand and lets them draw on the screen using their fingers.
    <br>
    <br>
    - This website, which I built myself from scratch with very little prior knowledge of HTML and CSS.
    <br>
    <br>
    You can get more details about these projects, and others I've made, on my <a class='linked' href="/projects" target=""_blank> Projects</a> and <a class='linked' href="/blog" target=""_blank> blog</a> pages.
    
    <br>
    <br>One thing I found particularly interesting was building my own PC to use for creating these projects. Researching the different components was a great way to learn about hardware, 
    and just how much of an impact different parts can have on a system's performance.
    <br>
    <br>
    Outside of technology, some of my other hobbies include rugby union and going to the gym. 
    These physically intense hobbies are a great way for me to switch off and clear my head, and they help me manage any mental pressure I might be dealing with at the time. 
    Rugby has also been a great way to find a community of friendly people and make connections outside of work.
    </p>
    </div>

{% endblock %}