{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class = 'page_content'>
    <h1 >About Me</h1>

    <img src = "static/headshot_self.png" alt="Aveeraj Chahal" class="about-photo">
    <p>A small summary about Aveeraj Singh Chahal</p>

    <p>Hello, My name is Aveeraj but a lot of people call me Avee as its easier to pronounce. This page will be dedicated to my hobbies as well as the things I find interesting.
        Once I graduated from the University of Huddersfield with a first class in cyber security, this is where I found myself wanting to develop my skills with different projects 
        that I find interesting, some of of the more complex projects that I have programmed include.
    </p>

    <p>- A camera detection program that can track the users hand and allows them to draw on the screen using their fingers.<br>
        - This website is also a project I programmed myself from scratch with little knowlegde of html and css.
    </p>

    <p> 
        You can get more details about my projects as well as others I have made in my <a href="/projects" target=""_blank> Projects</a> and <a href="/blog" target=""_blank> blog</a> pages.
    </p>

    <p>One of the things that I found interesting was building my own system that I could use create these projects. I found doing the reseach 
        for different components was a fun way to learn about hardware as well as the capability that different componants can have on your system.
    </p>

    <p>Some of my other hobbies that I am interested in outside of technology consist of rugby union as well as going to gym, these phyiscaly intense hobbies I find greating out of my 
        head and I find them a great way to help with any mental pressure that I might be having at the time. I also think rugby is a great place to find a community of friendy people 
        and help me to make connections outside of working. 
    </p>
    </div>

{% endblock %}