<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} My Portfolio {% endblock %} </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/blog">Blog</a>
        <a href = "https://github.com/Av33raj"> <img src="static/images.png" alt="github_prof" class = "git_prof"></a>
        <a href = "https://www.linkedin.com/in/aveeraj-chahal-ab5bb6261/"> <img src="static/linkedIn.jpg" alt="linkedIn_Prof" class = "linkedin_prof"></a>
    </nav>
    </nav>

    <main> 
        {% block content %}{% endblock %}
    </main>

    <footer> 
        <p> &copy; 2026 Aveeraj Singh Chahal</p>
    </footer>
</body>
</html>