{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class ='home_page'>
    <h1 class = 'welcome' > AVEERAJ SINGH <br> CHAHAL.</h1>
    
    <section class = 'page_content'>
        <h2>Small Introduction.</h2>
        <p>I graduated from the University of Huddersfield with a First in my course in Computer Science with Cyber Security. 
            I have created this website to demonstrate the skills that I have picked up creating different projects, 
            as well as some of the topics I find interesting. 
            Please feel free to add me on <a class='linked' href="https://www.linkedin.com/in/aveeraj-chahal-ab5bb6261/" target=""_blank> LinkedIn</a> if you have any questions. 
            <br>
            <br>
            I am currently looking for a place to develop my skills further and pick up new ones working in the IT sector. 
            I like the challenge of figuring out how to fix different hardware and software issues, as well as doing research on it if it's something I haven't come across before. 
            I find there's always something new to learn in this field, which is part of what keeps it interesting to me.
            <br>
            <br>
            If you have any openings you would like to discuss with me, please feel free to also email me at aveechahal@aol.com
            <br>
            <br> 
            If you would like to know a little more about me, please feel free to head to the About Me page.
            <br>
            <a href="/about"><button class= 'button'>About</button></a>
            <a href="/projects"><button class= 'button'>Project</button></a> 
            <a href="/blog"><button class= 'button'>Blog</button></a> 
 
        
        </p>
    </section>
</div>
{% endblock %}