{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class = 'page_content'>
    <h1 class = 'welcome left_side' > Welcome to my <br> website.</h1>
    <section>
        <h2>About me.</h2>
        <p>I graduated from the University of huddersfield with a First in my course in Computer science with Cyber security. 
            I have created this website to demonstrate the skills that I have picked up creating different projects, as well as some of the topics I find interesting, please feel free to add me on <a href="https://www.linkedin.com/in/aveeraj-chahal-ab5bb6261/" target=""_blank> LinkedIn</a> if you have any questions. </p>
    </section>
</div>
{% endblock %}