{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class ='project_page'>
    <h1>Projects created</h1>
    <br>
    <br>
    <p >
    SSH_Log_brute_force_detection -- <a class='linked' href="https://github.com/Av33raj/SSH_Log_brute_force_detection" target=""_blank> https://github.com/Av33raj/SSH_Log_brute_force_detection</a>
        <br>
        <br>
    Camera-detection -- <a class='linked' href="https://github.com/Av33raj/camera-detection" target=""_blank> https://github.com/Av33raj/camera-detection</a>
        <br>
        <br>
    Python-nmap-port-scanner -- <a class='linked' href="https://github.com/Av33raj/python-nmap-port-scanner" target=""_blank> https://github.com/Av33raj/python-nmap-port-scanner</a>
        <br>
        <br>
    Portfolio-Website -- <a class='linked' href="https://github.com/Av33raj/website" target=""_blank> https://github.com/Av33raj/website </a>
    
    </p>
</div>
{% endblock %}